<nav class="navbar navbar-expand-md sticky-top" id="mainNav">
  <button (click)="isCollapsed =! isCollapsed" class="navbar-toggler" data-toggle="collapse"
          data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler"><img src="assets/logo.png" style="width:20%;"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav">
      <li class="navbar-brand"><a routerLink="" href="#mainNav"> <img src="assets/logo-128.png"
                                                                      style="width:50%;"></a></li>
      <li class="nav-item"><a class="nav-link" href="#" routerLink="/game">
        <div class="icon">
          <i class="fa fa-gamepad" aria-hidden="false"></i></div>
        <div class="name" data-text="Jouer au jeu">Jouer au jeu</div>
      </a></li>
      <li class="nav-item" ><a class="nav-link" href="#" routerLink="/history">
        <div class="icon">
          <i class="fa fa-user-plus" aria-hidden="false"></i></div>
        <div class="name" data-text="Historique des parties">Historique des parties</div>
      </a></li>
      <li class="nav-item" ><a class="nav-link" target="_top" href="#"
         routerLinkActive="active" routerLink="/login">
        <div class="icon">
          <i class="fa fa-user" aria-hidden="false"></i></div>
        <div class="name" data-text="Se connecter">Se connecter</div>
      </a></li>
    </ul>
  </div>

</nav>

