<section>
  <div class="container">
    <div class="card">
      <form [formGroup]="formulaireUser" (ngSubmit)="onSubmit()">
        <div class="field" tabindex="1">
          <label for="email">
            <i class="fa fa-envelope"></i>Username
          </label>
          <input id="username" placeholder="username" formControlName="username" required>
        </div>
        <div class="field" tabindex="1">
          <label for="email">
            <i class="fa fa-envelope"></i>Email
          </label>
          <input id="email" type="email" placeholder="email@lenord.fr" formControlName="email" required>
        </div>
        <div class="field" tabindex="2">
          <label for="password">
            <i class="fa fa-lock"></i>Mot de passe
          </label>
          <input id="password" [type]="fieldTextType ? 'text' : 'password'" type="password"
                 placeholder="Mot de passe" formControlName="password">
        </div>
        <div class="input-group-append">
    <span class="input-group-text">
      <i
        class="fa"
        [ngClass]="{
          'fa-eye-slash': !fieldTextType,
          'fa-eye': fieldTextType
        }"
        (click)="toggleFieldTextType()"
      ></i>
    </span>
        </div>

        <button [disabled]="!formulaireUser.valid" class="btn" type="submit">Sign up</button>
      </form>

    </div>
  </div>
</section>










